
<app-c1  *ngFor="let x of arr34"></app-c1>



<br><br><br>
<app-results></app-results>
<br><br><br>


<button 
    appShowcase 
    clickCountColor="red"
>click 1</button><br><br>


<button 
    appShowcase 
    clickCountColor="red"
    (clickCountChange)="logArr.push($event)"
>click 1</button><br><br>

<button 
    appShowcase 
    [clickCountColor]="colorParam1"
    (clickCountChange)="logArr.push($event)"

>click 2</button><br><br>

<button 
    appShowcase 
    clickCountColor="blue"
    (clickCountChange)="logArr.push($event)"

>click 3</button><br><br>


<ul>
    <li *ngFor="let l of logArr">{{l}}</li>
</ul>